body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-pp {
  border-radius: 50%;
}

.home-social-icons {
  background: #343e47;
  border: 1px solid #343e47;
  border-radius: 50%;
  font-size: 1.2em;
  height: 60px;
  line-height: 2em;
  text-align: center;
  transition: .5s;
  width: 60px;
}